# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


.idea
hw_0*/.idea
hw_0*/go.sum
hw_0*/README.md

README-local.md
some_test
go_tour
go-core-3